*{
	margin: 0;
	padding: 0;
}

body{
    font-family: Impact, Charcoal, sans-serif;
    color: darkblue;
    background-color: maroon;
    padding: 0;
    margin: 0;
    background: url(final_project1.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

a{
	color: mintcream;
}

a:hover{
	color: black;
	text-decoration: none;
}

/*Navigation Styles*/

nav{
	background-color: black;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li{
	display: inline;
}
nav a{
	display: inline-block;
	padding: 20px;
}
nav a:hover{
	background-color: mintcream;
}